@import "mixins";
@import "media-query-mixin";

.header_container {
  @include center-xy;
}

.title_container {
  @include monitor {
    width: 100%;
    text-align: center;
  }
  @include mobile {
    width: 90%;
    text-align: center;
  }
}

.subtitle_container {
  @include monitor {
    width: 100%;
    text-align: center;
  }

  @include mobile {
    width: 90%;
    text-align: center;
  }
}

.date_container {
  @include monitor {
    width: 100%;
    text-align: center;
  }

  @include mobile {
    width: 90%;
    text-align: center;
  }
}

.header_image {
  @include monitor {
    position: relative;
    width: 60%;
    height: 60vh;
    margin-top: 50px;
  }

  @include mobile {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 30px;
  }
}
