@import "mixins";
@import "media-query-mixin";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.navbarContainer {
  @include monitor {
    position: fixed;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 100;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2%;
    opacity: 0;
    background-color: white;
    min-width: 100vw;
  }

  @include mobile {
    position: fixed;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    left: 0%;
    right: 0%;
    padding: 0 10px;
    opacity: 0;
    background-color: white;
  }
}

.logo_container {
  cursor: pointer;
}

.navbar_selector {
  display: flex;
  justify-content: space-between;
  min-width: 40%;
  max-width: 40%;
}

.selector_text_white {
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.selector_text {
  font-weight: 400;
  cursor: pointer;
  color: black;
}

.mobile_nav_button {
  color: black;
  font-size: 40px;
}

.mobile_nav_button_white {
  color: white;
  font-size: 40px;
}

.nav_shopping_cart {
  display: flex;
}

.nav_menu {
  @include mobile {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    text-align: center;
    transition: 0.3s;
  }
}

.navMenu__create_account_form {
  @include mobile {
    @include center-xy($height: 100vh, $justify-content: space-between);
    padding-bottom: 20px;
    transition: 0.3s;
  }
}

.navMenu__default_container {
  @include mobile {
    @include center-xy($height: 280px, $justify-content: space-between);
    padding-bottom: 20px;
    transition: 0.3s;
  }
}

.navMenu__authenticated_container {
  @include mobile {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    transition: 0.3s;
  }
}

.navMenu__unauthenticated_container {
  @include mobile {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    transition: 0.3s;
  }
}
