.main {
  min-height: 100vh;
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 100px;
}

.selectorContainer::-webkit-scrollbar {
  display: none;
}

.text {
  user-select: none;
}
