.main {
  min-height: 100vh;
  width: 100vw;
  padding: 6rem 0;
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 1500px;
}

.mainStatusScreen {
  min-height: 100vh;
  width: 100vw;
  padding: 6rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
